@font-face {
  font-family: tekst;
  src: url(../Emnesite/fonts/SofiaSans-Thin.ttf);
}

@font-face {
  font-family: h1;
  src: url(../Emnesite/fonts/SofiaSans-Medium.ttf);
}

@font-face {
  font-family: h2;
  src: url(../Emnesite/fonts/SofiaSans-Light.ttf);
}

/*Udenfor media er til mobilsite*/
body {
  font-family: tekst;
  background-color: #faf2e7;
  color: black;
  letter-spacing: 0em;
}

p {
  margin-top: 30px;
}

h3 {
  font-family: "tekst";
  font-weight: 600;
  margin-top: 20px;
}
h1 {
  font-family: "h1";
  text-align: center;
  margin-top: 80px;
}
h2 {
  font-family: "h2";
  margin-left: 20px;
}

a.knap {
  display: inline-block;
  background-color: #faf2e7;
  color: #955057;
  text-decoration: none;
  padding: 1rem;
  border-radius: 1em;
  cursor: pointer;
  box-shadow: 5px 5px 5px grey;
  border: solid 5px #24528e;
  margin-bottom: 40px;
  margin-right: 40px;
}

img {
  width: 200px;
  height: 200px;
  display: block;
  /* border-radius: 1rem; */
  outline: solid 2px #2e5543;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.forsideimg {
  width: 200px;
  height: 400px;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-around;
  color: #955057;
}

nav a {
  color: #955057;
  text-decoration: none;
}

a:visited {
  color: rgb(124, 5, 5);
}

.grid_1-2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  color: #2e5543;
}

header {
  display: flex;
  justify-content: space-between;
}

@media (width > 600px) {
  body {
    font-family: tekst;
    background-color: #faf2e7;
    color: black;
    letter-spacing: 0em;
  }
  p {
    font-family: "tekst";
    margin-top: 40px;
  }

  h3 {
    font-family: "tekst";
    font-weight: 600;
    margin-top: 25px;
  }
  h1 {
    font-family: "h1";
    text-align: center;
    margin-top: 80px;
  }
  h2 {
    font-family: "h2";
    margin-left: 20px;
  }

  a.knap {
    display: inline-block;
    background-color: #faf2e7;
    color: #955057;
    text-decoration: none;
    padding: 1rem;
    border-radius: 1em;
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
    border: solid 5px #24528e;
    margin-bottom: 40px;
    margin-right: 40px;
  }

  /* .knapforside {
    margin-top: 300px;
    margin-bottom: 40px;
    margin-right: 40px;
  } */

  img {
    width: 450px;
    height: 450px;
    display: block;
    /* border-radius: 1rem; */
    outline: solid 2px #2e5543;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .forsideimg {
    width: 200px;
    height: 500px;
    margin-right: 20px;
    margin-left: 350px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: space-around;
    color: #955057;
  }

  nav a {
    color: #955057;
    text-decoration: none;
  }

  a:visited {
    color: rgb(124, 5, 5);
  }
  /* a:hover{
    color: brown;
} */

  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  footer {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    color: #2e5543;
  }

  /* .footer1 {
    margin-top: 200px;
    margin-left: 20px;
    color: #2e5543;
  } */

  header {
    display: flex;
    justify-content: space-between;
  }
}
